body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--main-gray);
  color: var(--main-white);
  text-align: left;
}

.main-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

.image-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.text-content {
  max-width: 600px;
}

.portrait-image {
  width: 600px;
  height: 600px;
  object-fit: cover; /* eftersom bilden inte Ã¤r kvadrat */
  border-radius: 50%;
  margin: 1rem;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.5);
}

.logo-images {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.logo {
  position: relative;
  width: 300px;
  height: auto;
}

h1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: var(--text-shadow);
}

h1,
h2,
p {
  margin-top: 0.5rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  gap: 5rem;
  padding: 2rem;
  margin: 0;
}

nav a {
  color: white;
}

nav a:hover {
  background-color: rgb(0, 0, 0);
}

.buttons {
  padding: 2rem;
}

footer a {
  padding: 0rem;
  color: white;
}

footer {
  padding: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .main-layout {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .text-content {
    width: 100%;
    max-width: 90%;
    text-align: center;
  }

  .image-content {
    width: 100%;
    justify-content: center;
  }

  .portrait-image {
    width: 100%;
    max-width: 300px;
    height: 300px;
  }

  .logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  nav ul {
  flex-direction: row;         
  flex-wrap: wrap;               
  justify-content: center;
  gap: 0.5rem;                   
  padding: 1rem;
}

nav a {
    display: inline-block;     
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
}
